<html>

    <head>
        <title>SSE Home</title>
        <link rel="stylesheet" type="text/css" href="/styles/simple.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="/scripts/sse.js"></script>
    </head>

    <body>
        <h1>Example of using SSE</h1>
        <p>Messages streamed from a local SSE connection</p>
        <button id="local">Fetch Local</button>
        <button id="global">Fetch Global</button>
        <div id='messages'></div>
    </body>

</html>