<html>
    <head>
        <title>Sign Up</title>
        <link rel="stylesheet" type="text/css" href="styles/simple.css">
    </head>
    <body>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <div>
                <label>Username:</label>
                <input type="text" name="username"/>
            </div>
            <div>
                <label>Avatar:</label>
                <input type="file" name="avatar"/>
            </div>
            <div>
                <input type="submit" value="Submit"/>
            </div>
        </form>

    </body>
</html>