site_name: Pode

theme:
  name: material
  logo: images/icon.png
  favicon: images/favicon.ico
  features:
    - navigation.tabs
    - navigation.tabs.sticky
  font:
    text: Fira Sans
    code: Fira Code
  palette:
    - scheme: default
      primary: cyan
      accent: cyan
      toggle:
        icon: material/weather-sunny
        name: Light Mode
    - scheme: slate
      primary: cyan
      accent: cyan
      toggle:
        icon: material/weather-night
        name: Dark Mode

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences
  - admonition
  - meta

repo_name: badgerati/pode
repo_url: https://github.com/Badgerati/Pode

extra:
  social:
    - icon: fontawesome/brands/github-alt
      link: https://github.com/badgerati
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/badgerati