<?xml version="1.0" encoding="UTF-8"?>
<!-- ASP.NET CORE CONFIG -->
<!-- <configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="WebDAV" />
        <remove name="httpPlatformHandler" />
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
        <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
        <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
        <remove name="ExtensionlessUrl-Integrated-4.0" />
        <add name="ExtensionlessUrl-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      </handlers>

      <modules>
        <remove name="WebDAVModule" />
      </modules>

      <aspNetCore
        processPath="C:\tools\pwsh\pwsh.exe"
        arguments=".\IIS-Example.ps1"
        stdoutLogEnabled="true"
        stdoutLogFile=".\logs\stdout"
        hostingModel="OutOfProcess" />

      <security>
        <authorization>
          <remove users="*" roles="" verbs="" />
          <add accessType="Allow" users="*" verbs="GET,HEAD,POST,PUT,DELETE,DEBUG,OPTIONS" />
        </authorization>
      </security>
    </system.webServer>
  </location>
</configuration> -->

<!-- HTTP_PLATFORM_HANDLER CONFIG -->
<configuration>
  <system.webServer>
    <handlers>
      <remove name="WebDAV" />
      <remove name="aspNetCore" />
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform
      processPath="C:\tools\pwsh\pwsh.exe"
      arguments="-NoProfile -ExecutionPolicy Bypass -File &quot;.\IIS-Example.ps1&quot;"
      forwardWindowsAuthToken="false"
      stdoutLogEnabled="true"
      stdoutLogFile=".\logs\stdout"
      startupTimeLimit="60" >

      <environmentVariables>
        <environmentVariable name="PODE_HOST" value="IIS" />
      </environmentVariables>

    </httpPlatform>

    <httpErrors existingResponse="PassThrough" />
  </system.webServer>
</configuration>